.elementor-841 .elementor-element.elementor-element-fbb3ffc {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-d340cda {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 60px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-7050b47 {
    --display: flex;
    --justify-content: center;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-6731fb5>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-841 .elementor-element.elementor-element-6731fb5.elementor-element {
    --align-self: center
}

.elementor-841 .elementor-element.elementor-element-205c8a6 {
    text-align: center;
    font-size: 22px;
    line-height: 30px;
    width: var( --container-widget-width,870px );
    max-width: 870px;
    --container-widget-width: 870px;
    --container-widget-flex-grow: 0
}

.elementor-841 .elementor-element.elementor-element-205c8a6>.elementor-widget-container {
    margin: -24px 0 0;
    padding: 0
}

.elementor-841 .elementor-element.elementor-element-205c8a6.elementor-element {
    --align-self: center
}

.elementor-841 .elementor-element.elementor-element-9c83448 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 115px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

@media (max-width: 768px) {
    .elementor-841 .elementor-element.elementor-element-9c83448 {
        --display: flex;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --background-transition: 0.3s;
        --padding-block-start: 7%;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }
    .elementor-841 .elementor-element.elementor-element-205c8a6 {
        text-align: center;
        font-size: 16px;
        line-height: 25px;
        width: var( --container-widget-width,870px );
        max-width: 870px;
        --container-widget-width: 870px;
        --container-widget-flex-grow: 0
    }

    .elementor-841 .elementor-element.elementor-element-d340cda {
        --display: flex;
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial;
        --background-transition: 0.3s;
        --padding-block-start: 10px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }
    }

.elementor-841 .elementor-element.elementor-element-524c9b6 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-0f124de {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --background-transition: 0.3s;
    --padding-block-start: 84px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-1f8ffac {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-d0cc6f8 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 46px 46px;
    --background-transition: 0.3s;
    --margin-block-start: 54px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-cce4d88 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-39813f7>.elementor-widget-container {
    margin: 0;
    padding: 0
}

.elementor-841 .elementor-element.elementor-element-c736b33 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-8c03dfd {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: flex-end;
    --gap: 40px 40px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 15px;
    --padding-inline-start: 40px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-c5c48f7 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --justify-content: flex-end;
    --gap: 40px 40px;
    --background-transition: 0.3s;
    --margin-block-start: 0px;
    --margin-block-end: 0px;
    --margin-inline-start: 0px;
    --margin-inline-end: 0px;
    --padding-block-start: 0px;
    --padding-block-end: 15px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-8d4c706 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --background-transition: 0.3s;
    --padding-block-start: 104px;
    --padding-block-end: 37px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-5acda55 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --gap: 54px 54px;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-a062585 {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

.elementor-841 .elementor-element.elementor-element-2ad4c2e {
    --display: flex;
    --background-transition: 0.3s;
    --padding-block-start: 0px;
    --padding-block-end: 0px;
    --padding-inline-start: 0px;
    --padding-inline-end: 0px
}

@media(max-width: 1440px) {
    .elementor-841 .elementor-element.elementor-element-fbb3ffc.e-con {
        --flex-grow:1;
        --flex-shrink: 0
    }

    .elementor-841 .elementor-element.elementor-element-c736b33 {
        --margin-block-start: 40px;
        --margin-block-end: 0px;
        --margin-inline-start: 0px;
        --margin-inline-end: 0px
    }

    .elementor-841 .elementor-element.elementor-element-8c03dfd {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }

    .elementor-841 .elementor-element.elementor-element-8c03dfd.e-con {
        --align-self: center
    }

    .elementor-841 .elementor-element.elementor-element-c5c48f7 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }

    .elementor-841 .elementor-element.elementor-element-c5c48f7.e-con {
        --align-self: center
    }
}

@media(max-width: 1024px) {
    .elementor-841 .elementor-element.elementor-element-1f8ffac {
        --flex-wrap:wrap
    }

    .elementor-841 .elementor-element.elementor-element-cce4d88 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch
    }

    .elementor-841 .elementor-element.elementor-element-c736b33 {
        --flex-direction: row;
        --container-widget-width: initial;
        --container-widget-height: 100%;
        --container-widget-flex-grow: 1;
        --container-widget-align-self: stretch
    }

    .elementor-841 .elementor-element.elementor-element-8c03dfd {
        --flex-direction: column;
        --container-widget-width: 100%;
        --container-widget-height: initial;
        --container-widget-flex-grow: 0;
        --container-widget-align-self: initial
    }

    .elementor-841 .elementor-element.elementor-element-c5c48f7 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 20px;
        --padding-inline-end: 0px
    }
}

@media(max-width: 767px) {
    .elementor-841 .elementor-element.elementor-element-7050b47 {
        --align-items:center;
        --container-widget-width: calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% )
    }

    .elementor-841 .elementor-element.elementor-element-7050b47.e-con {
        --align-self: center
    }

    .elementor-841 .elementor-element.elementor-element-6731fb5 {
        width: auto;
        max-width: auto
    }

    .elementor-841 .elementor-element.elementor-element-6731fb5.elementor-element {
        --align-self: center
    }

    .elementor-841 .elementor-element.elementor-element-0f124de {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }

    .elementor-841 .elementor-element.elementor-element-1f8ffac {
        --width: 100%
    }

    .elementor-841 .elementor-element.elementor-element-d0cc6f8 {
        --width: 100%;
        --gap: 46px 46px;
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }

    .elementor-841 .elementor-element.elementor-element-cce4d88 {
        --width: 100%
    }

    .elementor-841 .elementor-element.elementor-element-c5c48f7 {
        --padding-block-start: 0px;
        --padding-block-end: 0px;
        --padding-inline-start: 0px;
        --padding-inline-end: 0px
    }
}

@media(min-width: 768px) {
    .elementor-841 .elementor-element.elementor-element-d0cc6f8 {
        --width:50%
    }

    .elementor-841 .elementor-element.elementor-element-cce4d88 {
        --width: 100%
    }

    .elementor-841 .elementor-element.elementor-element-c736b33 {
        --width: 50%
    }

    .elementor-841 .elementor-element.elementor-element-8c03dfd {
        --width: 50%
    }

    .elementor-841 .elementor-element.elementor-element-c5c48f7 {
        --width: 50%
    }

    .elementor-841 .elementor-element.elementor-element-a062585 {
        --width: 50%
    }

    .elementor-841 .elementor-element.elementor-element-2ad4c2e {
        --width: 50%
    }
}

@media(max-width: 1440px) and (min-width:768px) {
    .elementor-841 .elementor-element.elementor-element-cce4d88 {
        --width:96%
    }
}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-841 .elementor-element.elementor-element-1f8ffac {
        --width:100%
    }

    .elementor-841 .elementor-element.elementor-element-d0cc6f8 {
        --width: 100%
    }

    .elementor-841 .elementor-element.elementor-element-cce4d88 {
        --width: 100%
    }

    .elementor-841 .elementor-element.elementor-element-c736b33 {
        --width: 100%
    }

    .elementor-841 .elementor-element.elementor-element-8c03dfd {
        --width: 50%
    }
}

@media(min-width: 1921px) {
    .elementor-841 .elementor-element.elementor-element-fbb3ffc.e-con {
        --flex-grow:1;
        --flex-shrink: 0
    }
}
